body {
    text-align: center;
}


div.board, div#game-info {
    /* border: 1px solid black; */
    /* max-width: 200px;
    height: 200px; */
    
    display: flex;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
}

div.board div.block {
    width: 80px;
    height: 80px;
    background-color: white;
    text-align: center;
    font-size: 60px;
}

.left {
    border-left: 2px solid black;
}
.right {
    border-right: 2px solid black;
}
.bottom {
    border-bottom: 2px solid black;
}
.top {
    border-top: 2px solid black;
}

#player1, #player2 {
    display: none;
}